%font-family_jost{
    font-family: 'Jost', sans-serif;
}
%font-family_julius{
    font-family: 'Julius Sans One';
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; 
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
}

// здесь можно строчки кода для css писать, к примеру одинкаовые кнопки блоки и тп
// тут я использую шрифт
// @extend %font-family_jost;
// @extend %font-family_julius;