/* тут пишем то что мы используем часто, к примеру 
$text-black: #000000;
и любые другие нужные 
пример вызова:
.class-name {
    color: $text-black;
} */
$background-color-1: #1D1E24;
$text-color-1: white;

