.footer_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    @extend %font-family_jost;
    background-color: #1d1e24;
    align-items: center;
    padding-left: 2%;
    height: 7vw;
    @media screen and (max-width: 1000px) {
		height: 10vw;
	}
}

.button {
    color: white;
    @extend %font-family_jost;
}

#e-mail {
    color: #1d1e24;
}

.messengers {
    display: flex;
    margin: 1vw;
    justify-content: space-evenly;
    align-items: center;
}

.facebook,
.insta,
.twitter {
    padding: 1%;
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.message {
    display: flex;
    color: white;
    @extend %font-family_jost;
    background-color: #1d1e24;
    justify-content: center;
}

.footer_wrapper-rules,
.footer_wrapper-us,
.footer_wrapper-contacts {
    @media screen and (max-width: 740px) {
        font-size: 0.8rem;
    }
}
