.search-results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title"
    "content-1 content-2";
    justify-items: center; 
    background-color: bisque;
    width: 100%;
    height: 35rem; 
}
.search-results__title{
    grid-area: title;
    @extend %font-family_julius;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
}
.search-results__conteiner-one{
    grid-area: content-1;
}
.search-results__conteiner-two{
    grid-area: content-2;

}
.image{
    width: 13rem; 
    height: 17rem;  
}
.search-results__par-one,
.search-results__par-two{
    @extend %font-family_jost;
    width: 12rem; 
}


