@font-face {
    font-family: 'Jost', sans-serif;
    src:url(../../fonts/Jost-VariableFont_wght.woff2) format('woff2'),
        url(../../fonts/Jost-VariableFont_wght.woff) format('woff');
}
@font-face {
    font-family: 'Julius Sans One', sans-serif;
    src:url(../../fonts/JuliusSansOne-Regular.woff2) format('woff2'),
        url(../../fonts/JuliusSansOne-Regular.woff) format('woff');
}